* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #cae9ff;
    padding: 20px;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: #1b4965;
    color: white;
}
footer {
    background-color: #cae9ff;
    text-align: center;
    padding: 10px;
}