<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LongView | Add Trade</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="LongView Logo" class="logo">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('add_trade') }}">Add</a></li>
                <li><a href="{{ url_for('update_price') }}">Update</a></li>
                <li><a href="{{ url_for('history') }}">History</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="{{ url_for('add_trade') }}" method="POST">
            <h1>Add Trade</h1>
            <table>
                <thead>
                <tr>
                    <th>Asset</th>
                    <th>Purchase Date</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" name="asset"></td>
                    <td><input type="date" name="date"></td>
                    <td><input type="number" name="quantity"></td>
                    <td><input type="number" name="price" step="any"></td>
                </tr>
                <tr>
                    <td colspan="4">›
                    <label for="note">Note:</label>
                    <textarea id="note" name="note" rows="3"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
            <button type="submit">Confirm</button>
        </form>
    </main>
    <footer>
        <img src="{{ url_for('static', filename='logo-photo.png') }}" alt="LongView Logo Photo" class="logo-photo">
        <p>2026 | LongView | Yin He</p>
    </footer>
</body>
</html>