<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LongView | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="LongView Logo" class="logo">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('add_trade') }}">Add</a></li>
                <li><a href="{{ url_for('history') }}">History</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="value">
            <h1>My Portfolio</h1>

            <div class="value-section">
                <section class="value-cards">
                    <h2>Current Value</h2>
                    <h3>{{ data.current_value }}</h3>
                </section>

                <section class="value-cards">
                    <h2>Total Investment</h2>
                    <h3>{{ data.total_invested }}</h3>
                </section>

                <section class="value-cards">
                    <h2>Profit / Loss</h2>
                    <h3>{{ data.return }}</h3>
                </section>
            </div>

            <div class="value-buttons">
                <a href="{{ url_for('add_trade') }}"><button>Add Trade</button></a>
                <a href="{{ url_for('history') }}"><button>View History</button></a>
            </div>
        </div>
    </main>

    <footer>
        <img src="{{ url_for('static', filename='logo-photo.png') }}" alt="LongView Logo Photo" class="logo-photo">
        <p>2026 | LongView | Yin He</p>
    </footer>
</body>
</html>